<a href="https://colab.research.google.com/github/Sor-El/Ciencia-de-Dados/blob/main/primeira_an%C3%A1lise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# 1. Criando um conjunto de dados (Simulando uma lista de vendas)
dados = {
    'Produto': ['Notebook', 'Mouse', 'Teclado', 'Monitor', 'Mouse', 'Monitor'],
    'Preco': [4500, 150, 300, 1200, 150, 1200],
    'Quantidade': [2, 10, 5, 3, 8, 4],
    'Loja': ['Centro', 'Sul', 'Norte', 'Centro', 'Norte', 'Sul']
}

# 2. Transformando em um DataFrame (Tabela do Pandas)
df = pd.DataFrame(dados)

# 3. Criando uma nova coluna: Faturamento Total por linha
df['Faturamento'] = df['Preco'] * df['Quantidade']

# 4. An√°lise: Qual o faturamento total por loja?
faturamento_por_loja = df.groupby('Loja')['Faturamento'].sum()

print("--- Tabela de Dados ---")
print(df)
print("\n--- Faturamento por Loja ---")
print(faturamento_por_loja)

--- Tabela de Dados ---
    Produto  Preco  Quantidade    Loja  Faturamento
0  Notebook   4500           2  Centro         9000
1     Mouse    150          10     Sul         1500
2   Teclado    300           5   Norte         1500
3   Monitor   1200           3  Centro         3600
4     Mouse    150           8   Norte         1200
5   Monitor   1200           4     Sul         4800

--- Faturamento por Loja ---
Loja
Centro    12600
Norte      2700
Sul        6300
Name: Faturamento, dtype: int64